
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body{ 
    font-family: 'Sniglet';
}

html, body {
    padding: 0;
    margin: 0;
} 
/*FORMATANDO AS FONTES*/
p, label {
    font-size: 15px;
    line-height:1.4;
}

h1 {
    font-size: 20px;
}

h2, h3 {
    font-size: 18px;
}

main h2 {
    padding-top:10px;
    text-align: center;
}

main img {
    width: 100%;
}

header, footer {
    width: 100%;
}

.subtitulo, #subtitulo {
    max-width: 1000px;
    text-align: center;
    align-items: center; 
}

.containerMaster{
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}

/* ESTILIZANDO O MENU DE NAVEGAÇÃO */

header, nav {
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    padding: 16px 16px;
    background-color: #AB87FF;
}
#logo {
    max-height: 150px;
}
a {
    color: #FFACE4;
    text-align: center;
    font-size: 20px;
    padding: 16px 16px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;  
}
/* AS IMAGENS */

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 40px;
  }

.container h3 {
    color: #825eee;
}

.containerB {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
  }

.negrito {
    font-weight: bold;
}

.container img{
    padding: 0px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 2100px;
    width: 220px; 
    height: 220px;
    box-shadow: 2px 5px 2px#E384FF,
                5px 10px #865DFF;
}

main {
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
}

/*FORMATAÇÃO DO BANNER */

.subtitulo {
    justify-content: center;
}

.adocao { 
    display: flex;
    justify-content: center;
    align-items: center; 
    }

/* ESTILIZANDO O FORMULÁRIO */
.Formulario {
    justify-content: right;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.formAdoc {
    display: flex;
    text-align: center;
    box-sizing:border-box;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 15px; /* Padding é a distancia da borda. Ordem: top, right, bottom, left*/
    margin: 40px;              /* Segue a mesma ordem do padding, como só tem um valor = todos com 10px*/
    width: 660px;
    height: 290px;
    background-color: #fffaff;
    box-shadow: 2px 5px 2px#E384FF,
                5px 10px #865DFF;
    width: 100%;
}

.campo_nome, .campo_email, .campo_tel {
    display: block;
}

form, input, textarea {
    footer {
        width: 100%; 
        min-height: 250px;
        display: flex;
        justify-content: center;
     }
    width: 100%;
}

form input, form textarea {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 280px;
    height: 25px;
}

form textarea {
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    height: 120px;
}

.campo_msg {
    text-align: center;
    display: block;
}

form button {
    border-radius: 10px;
    margin: 20px 0px 20px;
    padding: 10px 20px;
    font-family: 'Sniglet';

}

button:hover {
    background-color: #fbff10;
  }

 /* ESTILIZANDO O RODAPÉ */ 
 footer {
    width: 100%; 
    min-height: 250px;
    display: flex;
    justify-content: center;
 }
.rodape {
    background-color: #AB87FF;
    min-height: auto;
    width: 100%;
}

.ladoalado {
    font-size: 15px;
    text-align: top;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    }

.newsletter{
    text-align: top;
    display: block;
    margin: 0px;
    padding-top: 30px; 
}
.atendimento{
    margin: 10px;
    padding: 10px;
}
.estabelecimento{
    margin: 20px;
    padding: 10px;
}

footer img {
    width: 25px;
    height: 25px;
}

.bemV{
    margin: 10px;
    padding: 10px;
}